{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_lecture') }}" method=post class=add-entry>
      <dl>
        <dt>Lecture name:
        <dt><input type=text size=30 name=lecturename>
        <dt>Time:
        <dt><input type=datetime-local name=time>
        <dt><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=lectures>
  {% for lecture in lectures %}
      <li><h2>{{ lecture.lecturename }}</h2>{{ lecture.time }} <a href="http://182.92.183.189:5000/knowledge/{{ lecture.id }}/{{ lecture.lecturename }}">Add Knowledge</a> <a href="http://182.92.183.189:5000/question/{{ lecture.id }}/{{ lecture.lecturename }}">Add Question</a> <a href="http://182.92.183.189:5000/student">Add Student</a>
  {% else %}
    <li><em>Unbelievable.  No lectures here so far</em>
  {% endfor %}
  </ul>
{% endblock %}